# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
*.env

# Streamlit secrets (if keeping local)
.streamlit/secrets.toml

# OS files
.DS_Store

# VSCode / PyCharm files
.vscode/
.idea/
.streamlit/secrets.toml


*.pyc
*.db
antaryami.db



